<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PII Masking UI</title>
</head>

<body>
    <h1>Welcome to PII Masking UI</h1>

    <h2>Select Database:</h2>
    <form action="/fetch" method="POST">
        <label for="database_type">Database Type:</label>
        <select id="database_type" name="database_type" required>
            <option value="mysql">MySQL</option>
            <option value="oracle">Oracle</option>
            <option value="snowflake">Snowflake</option>
            <option value="s3">Amazon S3</option>
        </select><br><br>
        <button type="submit">Fetch Records</button>
    </form>
</body>

</html>